*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color:black;
	color:white;
	/*font-family: 'Cormorant Garamond', serif;*/
	font-family: 'Exo 2', sans-serif;
	font-size:30px;
}
#osu{
	position:absolute;
	margin-left: 2%;
	margin-top:20%;
}
.osuu-icon{
	width:50px;
	height:50px;
}
div {
	width: 100%;
	height: 100%;
}
#foo{
	width: 100%;
	height: 100%;
	opacity: 1.0;
	position: absolute;
	display:inline;
}
#backk{
	position:absolute;
	background-repeat: no-repeat;
	opacity: 1.0;
 	width: 100%;
  	height: 100%;
	display: none;
}
#ciemnia{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	display: inline;
	margin-top:200px;
}
#pudlo{
	width: 100%;
	height: 60%;
	position: absolute;
	margin-top:3%;
	display:inline;
}

/*SUWAK*/
input[type=range] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 10%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
}
#gora{
	width: 100%;
	height: 11%;
	position: absolute;
	display:inline;
	background-color:black;
	opacity: 0.3;
}

#MainMenu{
	width: 100%;
	height: 100%;
	opacity: 1.0;
	position: absolute;
	display:none;
}
#dol{
	width: 100%;
	height: 11%;
	position: absolute;
	display:inline;
	background-color:black;
	opacity: 0.3;
	bottom:0;
}
#index{
	display:inline;
}
#gra img{
	witdh: 150px;
	height: 150px;
}
#n0{
	position:absolute;
	left:0px;
	top:0px;
}
#n1{
	position:absolute;
	left:0px;
	top:0px;
}
#n2{
	position:absolute;
	left:0px;
	top:0px;
}
#n3{
	position:absolute;
	left:0px;
	top:0px;
}
.wgracz{
	width:5%;
	height: 10%;
	margin: 3px 9px 3px 3px;
}
#wgracz img{
	float: left;
}
#wgracz {
	position: absolute;
	font-size: 18px;
}
#logoosu {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
    transition: transform .1s ease-out;
	left: 0px;
}
#logoosu:active{
	transform: translateX(-150px);
}
#logoosu2 {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
	left: -150px;
}
#logoosu3 {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
	left: -150px;
	transition: transform .8s ease-in-out;
	transform: translateX(150px);
}
#logoosu4 {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
	left: 0px;
}
.trail {
    position: absolute;
    height: 6px; 
	width: 6px;
    border-radius: 3px;
    background: teal;
}
#menulogoo {
    position: absolute;
    top: 15px;
	left: 0px;
}
#BUTTON1 {
    position: absolute;
    top: 100px;
	left: 100px;
	height: 87px; 
	width: 423px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(340px);
}
#BUTTON2 {
    position: absolute;
    top: 200px;
	left: 100px;
	height: 87px; 
	width: 365px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(410px);
}
#BUTTON3 {
    position: absolute;
    top: 300px;
	left: 100px;
	height: 87px; 
	width: 365px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(410px);
}
#BUTTON4 {
    position: absolute;
    top: 400px;
	left: 100px;
	height: 87px; 
	width: 423px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(340px);
}
