#apcircle1{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}
#apcircle2{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}
#apcircle3{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}
#apcircle4{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}
#apcircle5{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}
#apcircle6{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}
#apcircle7{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}
#apcircle8{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:300px;
	display: inline;
}

@keyframes ruch {
  /*0% {
     transform: scale(1.0);
  }
  100% {
     transform: scale(0.7);
  }*/
  from { transform: scale(1.0); }
	to { transform: scale(0.7); }
}

#o1{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}
#o2{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}
#o3{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}
#o4{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}
#o5{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}
#o6{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}
#o7{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}
#o8{
	position:absolute;
	left:0px;
	top:0px;
	width:150px;
	height:150px;
	display: inline;
}

#c1{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}
#c2{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}
#c3{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}
#c4{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}
#c5{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}
#c6{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}
#c7{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}
#c8{
	position:absolute;
	left:0px;
	top:0px;
	width:100px;
	height:100px;
	display: inline;
}