*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	cursor: url('Cookiezi/cursor.png') 25 25, auto;
}
body{
	background-color:black;
	color:white;
	/*font-family: 'Cormorant Garamond', serif;*/
	font-family: 'Exo 2', sans-serif;
	font-size:30px;
	cursor: url('Cookiezi/cursor.png') 25 25, auto;
}
#osu{
	position:absolute;
	margin-left: 2%;
	margin-top:20%;
}
.osuu-icon{
	width:50px;
	height:50px;
}
div {
	width: 100%;
	height: 100%;
}
#foo{
	width: 100%;
	height: 100%;
	opacity: 1.0;
	position: absolute;
	display:inline;
}
#backk{
	position:absolute;
	background-repeat: no-repeat;
	opacity: 1.0;
 	width: 100%;
  	height: 100%;
	display: none;
}
#ciemnia{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: black;
	display: inline;
	padding-top:200px;
}
#pudlo{
	width: 100%;
	height: 60%;
	position: absolute;
	margin-top:3%;
	display:inline;
}
#gora{
	width: 100%;
	height: 11%;
	position: absolute;
	display:inline;
	background-color:black;
	opacity: 0.3;
}
#MainMenu{
	width: 100%;
	height: 100%;
	opacity: 1.0;
	position: absolute;
	display:none;
}
#dol{
	width: 100%;
	height: 11%;
	position: absolute;
	display:inline;
	background-color:black;
	opacity: 0.3;
	bottom:0;
}
#index{
	display:inline;
}
.wgracz{
	width:5%;
	height: 10%;
	margin: 3px 9px 3px 3px;
}
#wgracz img{
	float: left;
}
#wgracz {
	position: absolute;
	font-size: 18px;
}
#logoosu {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
    transition: transform .1s ease-out;
	left: 0px;
}
#logoosu:active{
	transform: translateX(-150px);
}
#logoosu2 {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
	left: -150px;
}
#logoosu3 {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
	left: -150px;
	transition: transform .8s ease-in-out;
	transform: translateX(150px);
}
#logoosu4 {
    position: relative;
	width:550px;
	height:550px;
    top: 0px;
	left: 0px;
}
.trail {
    position: absolute;
    height: 6px; 
	width: 6px;
    border-radius: 3px;
    background: yellow;
	pointer-events: none;
}
#menulogoo {
    position: absolute;
	width:550px;
	height:550px;
    top: 325px;
	left: 325px;
}
#menulogoo2{
	position: absolute;
	left: 0px;
	animation-name:slidein;
	animation-duration: 0.13s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	top: 0px;
}
@keyframes slidein {
  from {
    transform: scale(1.0); 
  }

  to {
    transform: scale(1.02);
  }
}
#BUTTON1 {
    position: absolute;
    top: 400px;
	left: 425px;
	height: 87px; 
	width: 423px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(340px);
}
#BUTTON2 {
    position: absolute;
    top: 500px;
	left: 425px;
	height: 87px; 
	width: 365px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(410px);
}
#BUTTON3 {
    position: absolute;
    top: 600px;
	left: 425px;
	height: 87px; 
	width: 365px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(410px);
}
#BUTTON4 {
    position: absolute;
    top: 700px;
	left: 425px;
	height: 87px; 
	width: 423px;
	display: none;
	transition: transform 3s ease-in-out;
	transform: translateX(340px);
}
#bars{
	display: none;
}
#gra{
	width:1000px;
	height: 600px;
	margin-top:50px;
	margin-left:325px;
	position: absolute;
}
#llicznikcombo{
	color:white;
	font-family: 'Exo 2', sans-serif;
	font-size:45px;
	left:0px;
	bottom: -150px;
	width:200px;
	height:200px;
	position: absolute;
}
#llicznikpkt{
	color:white;
	font-family: 'Exo 2', sans-serif;
	font-size:45px;
	right: 100px;
	top: 0px;
	width:200px;
	height:200px;
	position: absolute;
}
#llicznikhp{
	color:black;
	position: absolute;
	width:320px;
	height:20px;
	left:-270px;
	top: -35px;
	background: orangered;
}
#llicznikhp2{
	position: absolute;
    top: -50px;
	left: -310px;
	height: 50px; 
	width: 400px;
}
#llicznikacc{
	color:white;
	font-family: 'Exo 2', sans-serif;
	font-size:30px;
	right: -100px;
	top: 50px;
	width:300px;
	height:200px;
	position: absolute;
}

#llicznikpkt300{
	color:white;
	font-family: 'Exo 2', sans-serif;
	font-size:30px;
	right: -50px;
	top: 80px;
	width:300px;
	height:200px;
	position: absolute;
}
#llicznikpkt100{
	color:white;
	font-family: 'Exo 2', sans-serif;
	font-size:30px;
	right: -50px;
	top: 110px;
	width:300px;
	height:200px;
	position: absolute;
}
#llicznikpkt50{
	color:white;
	font-family: 'Exo 2', sans-serif;
	font-size:30px;
	right: -50px;
	top: 140px;
	width:300px;
	height:200px;
	position: absolute;
}
#llicznikpkt0{
	color:white;
	font-family: 'Exo 2', sans-serif;
	font-size:30px;
	right: -50px;
	top: 170px;
	width:300px;
	height:200px;
	position: absolute;
}

#locena {
    position: absolute;
	width:400px;
	height:500px;
    top: 20px;
	right: -5px;
}
#l300 {
    position: absolute;
	width:110px;
	height:110px;
    top: 100px;
	left: 170px;
}
#l100 {
    position: absolute;
	width:110px;
	height:110px;
    top: 190px;
	left: 170px;
}
#l50 {
    position: absolute;
	width:110px;
	height:110px;
    top: 290px;
	left: 60px;
}
#lmiss {
    position: absolute;
	width:110px;
	height:110px;
    top: 290px;
	left: 310px;
}
#quitt{
    position: absolute;
	width:262px;
	height:148px;
    left:0px;
	bottom: 0px;
}
#quittt{
    position: absolute;
	width:398px;
	height:116px;
    left:500px;
	bottom: 400px;
}
#TekstKon{
	color:yellow;
	font-family: 'Exo 2', sans-serif;
	font-size:60px;
	left: 300px;
	bottom: -170px;
	width:500px;
	height:300px;
	position: absolute;
}
#wybor{
	 position: absolute;
	 display: none;
	 top: 250px;
	 left:450px;
	 background: black;
	 width:400px;
	 height:130px;
	 padding-left:40px;
	 border-radius: 25px;
}
#Wokno{
	position: absolute;
	top: -27px;
	right: 0px;
	witdh:80px;
	height:80px;
}