*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color:black;
	color:white;
	font-family: 'Cormorant Garamond', serif;
	font-size:30px;
}
#osu{
	position:absolute;
	margin-left: 2%;
	margin-top:20%;
}
.osuu-icon{
	width:50px;
	height:50px;
}
a{
	color:white;
	font-family: 'Cormorant Garamond', serif;
	font-size:30px;
}
